@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', sans-serif;
    background-color: #f1f1f1;
    padding-top: 10rem;
}
.blogHeading{
    margin-bottom: 1rem;
}
.blogHeading h1{
    font-size: 1rem;
    color: #333;
   margin-bottom: 1.5rem;
}
.subheading{
    font-size: 25px;
    color: #333;
    margin-left: 1.7rem;
}
.blogContainer{
    margin: auto;
    width: 80%;
    padding: 20px;
}
.blog_description{
    font-size: 1rem;
    color: #333;
    font-weight: 10;
    margin: 1em 0 0 1.75em;
    line-height: 1.75rem;
    text-align: justify;
}
.keyPoints{
    margin-left: 2rem;
    margin-top: 3rem;
    line-height: 2rem;
}
.keyPoints p{
    font-size: 1rem;
    color: #333;
    font-weight: 10;
    margin: 1em 0 0 1.75em;
    line-height: 1.75rem;
    text-align: justify;
}
.githublink{
    margin-left: 2rem;
    margin-top: 3rem;
    line-height: 2rem;
}
.githublink a{
    text-decoration: none;
}
@media screen and (max-width:565px) {
    .blog_description {
        font-size: 0.5rem;
        text-align: justify;
        }
}